<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="language" content="{{ app.request.locale }}"/>
    <meta name="application-name" content=""/>
    <meta name="author" content=""/>
    <meta name="url" content="">
    <meta name="robots" content="index,nofollow"/>

    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
<div class="container">
    {{ include('default/_navigation.html.twig') }}

    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
